@import url("./card.css");
@import url("./menu.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#ga1 {
  opacity: 0;
}

#ga1.fadein {
  opacity: 1;
}

#ga2 {
  opacity: 0;
}

#ga2.fadein {
  opacity: 1;
}

#ga3 {
  opacity: 0;
}

#ga3.fadein {
  opacity: 1;
}

#ga4 {
  opacity: 0;
}

#ga4.fadein {
  opacity: 1;
}
